<p>home works!</p>
<h1 style="margin-top: 5%;">HOME</h1>




<!-- <div *ngIf="isCameraExist; else noCameraExist">
    <div style="text-align:center">
        <webcam matInput formControlName="image"  [height]="200" [width]="200" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
        <br/>
        <button type="submit" color="primary" mat-raised-button class="button" (click)="takeSnapshot()">Take Picture</button>
    </div>
  </div>

  <ng-template #noCameraExist>
      Camera device not available
  </ng-template> -->