<div style="margin-top: 10%;">
<!-- <button mat-raised-button color="primary" (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <mat-stepper [linear]="isLinear" #stepper>
   
    <mat-step [completed]=false [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup"  (ngSubmit)="auth_1(firstFormGroup.value, stepper)">
        <ng-template matStepLabel>Auth 1</ng-template>
        <!-- {{seconds}} -->
            <mat-form-field appearance="outline">
                <mat-label>Username </mat-label>
                <input type="text" placeholder="username" formControlName="UserName"  matNativeControl matInput autocomplete="on">
            </mat-form-field>
        
            <mat-form-field appearance="outline" style="margin-left: 2%;">
                <mat-label>Password </mat-label>
                <input type="password" placeholder="password" formControlName="Password"  matNativeControl matInput autocomplete="on">
            </mat-form-field>
        <div>
          <!-- <button mat-raised-button color="primary" matStepperNext>Submit</button> -->
          <!-- <button mat-raised-button  type="submit" [disabled]="!firstFormGroup.valid"  color="primary" >Submit</button> -->
          <button mat-raised-button  type="submit" color="primary" >Submit</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="imageFormGroup" label="Auth 2">
      <form [formGroup]="imageFormGroup" (ngSubmit)="auth_3(stepper)">
        <!-- <form [formGroup]="imageFormGroup"  (ngSubmit)="auth_2(imageFormGroup.value)"> -->

       <!-- Iske andar he camera ka code -->
            <div *ngIf="isCameraExist; else noCameraExist">
              <div style="text-align:center">
                  <webcam matInput formControlName="image"  [height]="200" [width]="200" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
                  <br/>
                  <button type="submit" color="primary" mat-raised-button class="button" (click)="takeSnapshot()" matStepperNext>Take Picture</button>
              </div>
            </div>
        
            <ng-template #noCameraExist>
                Camera device not available
            </ng-template>
        <!-- idhar khatam  -->

        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Auth 3">
      <ng-template matStepLabel>Auth 3</ng-template>
      <!-- <p>You are now done.</p> -->
      <div>
        <form [formGroup]="secondFormGroup"  (ngSubmit)="auth_2(secondFormGroup.value, stepper)">
          <div style="display: inline;">
            <div style="display: inline-block">
              <mat-form-field appearance="outline">
                <mat-label>Enter OTP</mat-label>
                <input matInput formControlName="otp" placeholder="" required> 
              </mat-form-field>
            </div>
            <div style="display: inline-block;margin-left : 4%; ">
              <button style="height: 40px;" type="submit" [disabled]="!secondFormGroup.valid || auth2" mat-raised-button color="primary" >Submit</button>
  
            </div>
          </div>
        </form>
  
        <button style=" height: 40px;"[disabled]=true mat-stroked-button>{{seconds}}</button>
        <button style="margin-left : 4%;height: 40px;" (click)="resend_auth_2()" [disabled]="!resend" mat-raised-button color="primary" >Resend OTP</button>
      </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Auth 4</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>

            <!-- <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button> -->
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Auth 5</ng-template>
        <p>You are now done.</p>
        <div>
        <button mat-raised-button color="primary" (click)="submit()" matStepperNext>Submit</button>

        <!-- <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button> -->
        </div>
    </mat-step>

    </mat-stepper>

</div>